[submodule "thirdparty/sfml"]
	path = thirdparty/sfml
	url = https://github.com/SFML/SFML.git
[submodule "thirdparty/random"]
	path = thirdparty/random
	url = https://github.com/effolkronium/random.git
[submodule "thirdparty/plog"]
	path = thirdparty/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "thirdparty/libconfig"]
	path = thirdparty/libconfig
	url = https://github.com/hyperrealm/libconfig.git
